{# templates/admin/edit_user_role.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit User Role{% endblock %}

{% block body %}
    <h1>Edit Role for {{ user.emri }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Save Changes</button>
    {{ form_end(form) }}
{% endblock %}
